.header{
    background-color: blueviolet;
}



.section{
    background-color: aqua;
}

.box{
    background-color: rgb(47, 179, 6); font-style: normal white;
}










.footer
h6 {text-align:center
}
