html {
    scroll-behavior: smooth;
}

body {
    height: 1300px;
    margin: 130px auto 0 auto;
line-height: 1.2;
display:flex;
flex-wrap: wrap;
background-color: rgb(241, 137, 9);
color: navy;
}
.skipnav-link {
    background-color: azure;
    margin-left: 5px; 
    transform: translateY(-120%);  
    font-size: 50%;
}

.skipnav-link:focus {
    transform:translateY(0);
}

.imgleft {
    float: left;
    padding: 10px;
    border: 25px;   
}

.imgright {
    float: Right;
    padding: 10px;
    border: 25px;
    margin: 15px;
}

h2 {
    text-align:center
}
.header{
    background-color: rgb(6, 156, 99);
    padding-top: 10px;
    height: 17%;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    border-bottom: 10px solid burlywood;
}

.name {
    text-align: center;
}

nav {
    display: flex;
    float: right;
    background-color: none; 
    padding-right: 2ch;   
}

nav ul {
    background-color: none;
    margin: 0%;
    padding: 0%;
}

nav li {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 4px; 
    background-color: none;
    border: 3px solid navy;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;   
}

.header ul li {
    display: inline;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

a:link {
    color:black
}
a:visited {
    color: hotpink;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}
<!--the middle three box coloumns-->
    

.callout-container {
    max-width: 1400px;
        margin: 40px auto 0 auto;    
    }
    
    .call-out {
        padding: 20;
        box-sizing: border-box;
        margin-bottom: 20px;
        flex-basis: 30%;
    }
    
    @media (min-width: 900px) {
    .callout-container {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            justify-content: space-around;
        }
        }
    
    .call-out:nth-child(1) {background-color: #c0dbe2;}
    .call-out:nth-child(2) {background-color: #cdf1c3;}
    .call-out:nth-child(3) {background-color: #ccb9da;}
    
 
.banner {
    height:400px;
    max-width: 700px;
    box-sizing: border-box;
    margin: 10px auto 0px auto;
    padding: 10px;
    border: 20px;
    border-style: groove;
    background-color: #2a2a2a;
    display: flex;  
}

.center-me {
    color: white;
   text-align: center;
   font-size: 50px;
    margin: auto;
}
    

    .container {
        background: yellow;
        border: 5px solid #990b47;
        border-radius: 15px;
        box-sizing: border-box;
        height: 10%;
        max-width: 700px;
        align-items: center;
        padding: 20px;
        margin: 10px auto 40px auto;
        }
        
        .form-row {
            padding: 5px 0px;
            display:flex;
            height: 30px;  
        }
        
        .form-row label {
            padding-right: 2px;
            flex: 1;
        }
        
        .form-row input {
        flex: 2;
        
        
        }
        


<!--do not know why figure will not be moved the footer disappears-->
.figure{
    align-items: center;
    width: 100px;
}


.footer{
    background-color: rgb(6, 156, 99);
    height: 7%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    border-top: 10px solid burlywood;
    text-align: center;
}



.back-to-top {
    background: none;
}

