html {
    scroll-behavior: smooth;
}

body {
    height: 1300px;
    margin: 100px auto 0 auto;
line-height: 1.2;
display:flex;
flex-wrap: wrap;
background-color:rgb(248, 179, 6);
color: navy;
}

.imgleft {
    height: 60px;
    min-width: 70px;
    padding: 10px;
    border: 25px; 
}
.imgleft:hover {
    transform:scale(2);
}
    
.imgright {
    float: Right;
    padding: 10px;
    border: 25px;
    margin: 15px;
}
.horizontal-menu {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align:center;
    display:flex
}

.header{
    background-color: rgb(6, 156, 99);
    padding-top: 10px;
    height: 16%;
    position:fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    border-bottom: 10px solid burlywood;
}

.name {
    font-size: larger; 
    font-weight: 900;  
    font-family:cursive;
}

nav {
    display: flex;
    float: right;
    background-color: none; 
    padding-right: 2ch;   
}

.nav-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.nav-item { 
    padding: 10px;
    margin: 10px;
  
}
a:link {
    color:black
}
a:visited {
    color: hotpink;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}
<!--the middle three box coloumns-->
    

.callout-container {
    max-width: 1400px;
        margin: 40px auto 10px auto;    
    }
    
    .call-out {
        padding: 10px 15px 10px 15px;
        box-sizing: border-box;
        margin-bottom: 2px;
        margin-top: 30px;
        flex-basis: 31%;
    }
    
    @media (min-width: 900px) {
    .callout-container {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            justify-content: space-around;
        }
        }
    
    .call-out:nth-child(1) {background-color: #c0dbe2;}
    .call-out:nth-child(2) {background-color: #cdf1c3;}
    .call-out:nth-child(3) {background-color: #ccb9da;}
    
 
.banner {
    height:400px;
    max-width: 700px;
    box-sizing: border-box;
    margin: 5px auto 2px auto;
    padding: 10px;
    border: 20px;
    border-style: groove;
    background-color: #2a2a2a;
    display: flex;  
}

.center-me {
    color: white;
   text-align: center;
   font-size: 50px;
    margin: auto;
}
    
.portfolio {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    background-color: none;
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
   flex-wrap: wrap;
    
}


@media screen and (max-width: 768px) {
 .projects {width: 20%}   

} 
 

.projects {
    height: 100px;
    width:110px;
    display:flex; 
    padding: 10px 15px 40px 15px;
        box-sizing: border-box;
        margin-bottom: 2px;
        margin-top: 2px;
        align-content: center;
        margin-inline-end: 50px;     
    
}
/* contact form*/
    .container {
        background: yellow;
        border: 5px solid #990b47;
        border-radius: 15px;
        box-sizing: border-box;
        height: 8%;
        max-width: 700px;
        align-items: center;
        padding: 20px;
        margin: 2px auto 100px auto;
        }
        
        .form-row {
            padding: 1px 0px;
            display:flex;
            height: 30px;  
        }
        
        .form-row label {
            padding-right: 2px;
            flex: 1;
        }
        
        .form-row input {
        flex: 2;
        }
        
        
.figure {
    align-items: center;
    width: 100px;
}


.footer{
    background-color: rgb(6, 156, 99);
    height: 6%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    border-top: 10px solid burlywood;
    text-align: center;
}


.back-to-top {
    background: none;
}

